<phpunit bootstrap="tests/phpunit.bootstrap.php"
         colors="true"
         backupGlobals="false"
         backupStaticAttributes="false"
         syntaxCheck="false"
         stopOnFailure="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true">
    <testsuite name="Tests">
        <directory suffix="Test.php">./tests</directory>
    </testsuite>
    <php>
    </php>
    <filter>
        <whitelist>
            <directory>src</directory>
            <exclude>
                <file>src/stackformation.php</file>
                <file>src/dotenv.php</file>
                <file>src/StackFormation/CommandRegistry.php</file>
                <file>src/AwsInspector/CommandRegistry.php</file>
                <directory>src/StackFormation/Command</directory>
                <directory>src/AwsInspector/Command</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>